.icon {
    z-index: 2 !important;
    margin-top: 60px !important;
}

mat-sidenav-container {
    z-index: 1 !important;
}

mat-nav-list {
    z-index: 5 !important;
}

mat-sidenav {
    width: 25rem;
}

.spacer {
    flex: 1 1 auto;
}

mat-sidenav-content {
    background-image: url('../assets/background.png');
    background-repeat: repeat;
}