<div class="d-flex flex-column h-100">
  <!-- TOOLBAR -->
  <mat-toolbar
    color="primary"
    class="d-flex align-items-center gap-5"
    style="width: 100%"
  >
    <a
      mat-icon-button
      class="menu"
      (click)="sidenav.toggle()"
      role="button"
      *ngIf="isLogged"
    >
      <mat-icon>menu</mat-icon>
    </a>
    <h1>{{ isLogged ? title : "Auth" }}</h1>
    <span class="spacer"></span>
    <img class="logo icon" src="assets/geekmon_icon.png" />
  </mat-toolbar>

  <mat-sidenav-container>
    <mat-sidenav
      #sidenav
      mode="over"
      position="start"
      autoFocus="false"
      fixedInViewport="true"
      class="bg-dark bg-gradient"
    >
      <!-- SIDENAV MENU -->
      <mat-nav-list>
        <div class="d-flex justify-content-center mt-5 mb-5">
          <img src="../assets/user.png" alt="" width="150" height="auto" />
        </div>
        <ng-container *ngFor="let screen of screens">
          <a
            mat-list-item
            class="text-white d-flex flex-row m-4"
            routerLink="{{ screen.route }}"
            (click)="navigateToScreen(screen.display, sidenav)"
            ><img
              src="../assets/{{ screen.icon }}"
              width="35"
              height="35"
              alt=""
              class="m-3"
            />{{ screen.display }}</a
          >
        </ng-container>

        <!-- Logout -->
        <a
          mat-list-item
          class="logout-btn text-white d-flex flex-row m-4"
          (click)="logout()"
          ><span class="material-symbols-outlined m-3"> logout </span>Logout</a
        >
      </mat-nav-list>
    </mat-sidenav>

    <!-- PAGE -->
    <mat-sidenav-content>
      <div class="d-flex flex-column">
        <router-outlet></router-outlet>

        <!-- FOOTER -->
        <footer
          class="text-center text-black w-100"
          style="background-color: #ffb300"
        >
          <div class="d-flex justify-content-around">
            <div class="col-lg-2 col-md-12 mb-4 mb-md-0 m-4">
              <div
                class="bg-image hover-overlay ripple shadow-1-strong rounded"
                data-ripple-color="light"
              >
                <img src="../assets/pikachu.png" class="w-100" />
              </div>
            </div>
            <div class="col-lg-2 col-md-12 mb-4 mb-md-0 m-4">
              <div
                class="bg-image hover-overlay ripple shadow-1-strong rounded"
                data-ripple-color="light"
              >
                <img src="../assets/geekmon_icon.png" class="w-100" />
              </div>
            </div>
          </div>
          <div
            class="text-center p-3"
            style="background-color: rgba(0, 0, 0, 0.2)"
          >
            © 2022 GeekMon
          </div>
        </footer>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
