.card {
    width: 75rem;
    height: 40rem;
}   

.img-fluid  {
    object-fit: cover!important;
}

img {
    filter: opacity(0.5);
    background-color: black;
}

.card-title {
    font-family: PokemonFont;
    font-size: 3rem;
}