<div class="d-flex flex-column">
  <div class="d-flex justify-content-center">
    <a routerLink="/tvShows" class="card main text-bg-dark m-4">
      <img
        src="../../../../assets/pokemon_movies.png"
        class="card-img"
        alt="..."
      />
      <div class="card-img-overlay overlay-dark">
        <h5 class="card-title">Pokemon movies</h5>
      </div>
    </a>
  </div>

  <div class="d-flex flex-wrap justify-content-center">
    <a routerLink="/tvShows" class="card secondary text-bg-dark m-4">
      <img
        src="../../../../assets/pokemon_series.png"
        alt="..."
        class="img-fluid h-100"
      />
      <div class="card-img-overlay">
        <h5 class="card-title">Pokemon series</h5>
      </div>
    </a>

    <a routerLink="/tvShows" class="card secondary text-bg-dark m-4">
      <img
        src="../../../../assets/digimon_movies.png"
        class="img-fluid h-100"
        alt="..."
      />
      <div class="card-img-overlay">
        <h5 class="card-title">Digimon movies</h5>
      </div>
    </a>

    <a routerLink="/tvShows" class="card secondary text-bg-dark m-4">
      <img
        src="../../../../assets/digimon_series.png"
        class="img-fluid h-100"
        alt="..."
      />
      <div class="card-img-overlay">
        <h5 class="card-title">Digimon series</h5>
      </div>
    </a>
  </div>
</div>
