<div
  class="container d-flex flex-column justify-content-center align-items-center gap-1"
>
  <a
    routerLink="/tvShows/pokemon/movies"
    class="card pokemon_movies text-bg-dark m-4"
  >
    <img
      src="../../../../assets/pokemon_movies.png"
      class="img-fluid h-100"
      alt="..."
    />
    <div class="card-img-overlay">
      <h5 class="card-title position-absolute bottom-0 start-0 m-4">
        Pokemon movies
      </h5>
    </div>
  </a>

  <a
    routerLink="/tvShows/pokemon/series"
    class="card pokemon_series text-bg-dark m-4"
  >
    <img
      src="../../../../assets/pokemon_series.png"
      alt="..."
      class="img-fluid h-100"
    />
    <div class="card-img-overlay">
      <h5 class="card-title position-absolute bottom-0 start-0 m-4">
        Pokemon series
      </h5>
    </div>
  </a>

  <a
    routerLink="/tvShows/digimon/movies"
    class="card digimon_movies text-bg-dark m-4"
  >
    <img
      src="../../../../assets/digimon_movies.png"
      class="img-fluid h-100"
      alt="..."
    />
    <div class="card-img-overlay">
      <h5 class="card-title position-absolute bottom-0 start-0 m-4">
        Digimon movies
      </h5>
    </div>
  </a>

  <a
    routerLink="/tvShows/digimon/series"
    class="card digimon_series text-bg-dark m-4"
  >
    <img
      src="../../../../assets/digimon_series.png"
      class="img-fluid h-100"
      alt="..."
    />
    <div class="card-img-overlay">
      <h5 class="card-title position-absolute bottom-0 start-0 m-4">
        Digimon series
      </h5>
    </div>
  </a>
</div>
