<section class="m-4 d-flex">
  <span>
    <mat-icon>person</mat-icon>
  </span>
  <h2 class="mx-2">Username</h2>
</section>

<div
  class="card mx-auto my-5 shadow-lg p-3 mb-5 bg-body rounded"
  style="width: 125rem"
>
  <div class="card-body">
    <div class="message">
      <h2>Username</h2>
      <div>
        <p>Message sent</p>
      </div>
    </div>

    <div class="message">
      <h2>Username</h2>
      <div>
        <p>Message sent</p>
      </div>
    </div>

    <div class="message">
      <h2>Username</h2>
      <div>
        <p>Message sent</p>
      </div>
    </div>
  </div>
</div>

<section class="d-flex justify-content-around">
  <button
    mat-raised-button
    (click)="openDialog()"
    class="btn btn-primary end-0 m-4 fs-5 px-5"
  >
    Reply
  </button>
</section>
