.inbox {
    overflow: auto;
}

.card {
    height: 70%;
}

link {
    color: black;
    text-decoration: none;
}

.remove {
    height: 3rem;
    width: 6rem;
}


.title {
    font-family: PokemonFont;
}