<ng-container *ngIf="digimons.length; else noDigimons">
  <div class="container d-flex flex-wrap">
    <ng-container
      *ngFor="let digimon of digimons"
      class="container d-flex flex-row"
    >
      <div class="card m-3" style="width: 18rem; height: 25rem">
        <img
          src="{{ digimon.image }}"
          class="card-img-top img-fluid h-75"
          alt="..."
        />
        <div class="card-body">
          <span>N°{{ digimon.id }}</span>
          <p class="card-text">{{ digimon.name }}</p>
        </div>
      </div>
    </ng-container>
  </div>
  <div class="d-flex w-100 justify-content-center">
    <button [disabled]="!previousPage" class="btn btn-primary m-5">
      <span (click)="changePage(previousPage)"
        ><mat-icon>navigate_before</mat-icon></span
      >
    </button>
    <button [disabled]="!nextPage" class="btn btn-primary m-5">
      <span (click)="changePage(nextPage)" class="fs-4"
        ><mat-icon>navigate_next</mat-icon></span
      >
    </button>
  </div>
</ng-container>

<ng-template #noDigimons>
  <p>There are no Digimons to show</p>
</ng-template>
