<div
  class="row justify-content-center align-items-center h-100"
  style="margin-top: 20rem; margin-bottom: 20rem"
>
  <div class="col-12 col-lg-6">
    <div class="card p-4 shadow p-3 mb-5 bg-body rounded m-auto">
      <p class="fs-4 fw-semibold m-auto mt-4 mb-4">
        Login to an existing
        <span class="text-warning">GeekMon</span>
        account
      </p>
      <form (ngSubmit)="onSubmit()" [formGroup]="form">
        <div class="mb-3">
          <label for="username" class="form-label fw-semibold">Username</label>
          <input
            type="text"
            class="form-control"
            id="username"
            required
            formControlName="username"
            name="username"
            [ngClass]="{
              'is-invalid': isSubmitted && formInput['username'].errors
            }"
          />
          <div
            *ngIf="isSubmitted && formInput['username'].errors"
            class="invalid-feedback"
          >
            <div *ngIf="formInput['username'].errors['required']">
              Username is required
            </div>
          </div>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label fw-semibold">Password</label>
          <input
            type="password"
            class="form-control"
            id="password"
            required
            formControlName="password"
            name="password"
            [ngClass]="{
              'is-invalid': isSubmitted && formInput['password'].errors
            }"
          />
          <div
            *ngIf="isSubmitted && formInput['password'].errors"
            class="invalid-feedback"
          >
            <div *ngIf="formInput['password'].errors['required']">
              Password is required
            </div>
          </div>
        </div>
        <button
          class="btn btn-primary w-100"
          type="submit"
          *ngIf="!(isLoading && isSubmitted); else btnLoading"
        >
          Log in
        </button>
        <ng-template #btnLoading>
          <button class="btn btn-primary w-100" disabled>
            <span
              class="spinner-border spinner-border-sm"
              role="status"
              aria-hidden="true"
            ></span>
          </button>
        </ng-template>
      </form>
      <p class="text-end mt-3">
        New to
        <span class="text-warning">GeekMon</span>
        ? Signup
        <a class="text-primary" routerLink="/auth/sign-up" href="#">here</a>
      </p>
    </div>
  </div>
</div>
