<div class="container" #container>
  <a
    class="left"
    *ngIf="totalPages > 1"
    (click)="currentPage != 1 && changePage(-1)"
    [ngClass]="{ disabled: currentPage === 1 }"
  ></a>

  <div class="cards">
    <div
      class="overflow"
      [ngStyle]="{ width: overflowWidth, left: pagePosition }"
    >
      <ng-container *ngFor="let i of arr; let index = index">
        <div
          class="card shadow p-3 mb-5 bg-body rounded"
          style="width: 18rem; height: 25rem"
        >
          <img
            src="{{ i.image }}"
            class="card-img-top img-fluid w-100 h-75"
            width="200"
            height="200"
          />
          <h2 class="card-body">{{ i.name }}</h2>
        </div>
      </ng-container>
    </div>
  </div>

  <a
    class="right"
    *ngIf="totalPages > 1"
    (click)="currentPage != totalPages && changePage(+1)"
    [ngClass]="{ disabled: currentPage === totalPages }"
  ></a>
</div>
