<!-- INTRO -->
<section class="intro">
  <p class="poke-text">WELCOME TO THE POKEMON AND DIGIMON COMMUNITY</p>
  <!-- <button routerLink="/auth/sign-in">
    <span class="poke-text">SIGN IN</span>
  </button> -->
</section>

<!-- CAROUSEL -->
<section class="pokemon-carousel carousel">
  <div>
    <h1 class="subtitles">Featured Pokemons</h1>
  </div>
  <app-carousel #carousel [items]="pokemons" *ngIf="pokemons"></app-carousel>
  <button class="see-more" routerLink="/pokedex">
    <span class="text">See more pokemons</span>
  </button>
</section>

<section class="digimon-carousel carousel">
  <div>
    <h1 class="subtitles">Featured Digimons</h1>
  </div>
  <app-carousel #carousel [items]="digimons" *ngIf="digimons"></app-carousel>
  <button enabled class="see-more" routerLink="/digivice">
    <span class="text">See more digimons</span>
  </button>
</section>

<div class="tv-shows">
  <img
    class=""
    src="../../../../assets/main_shows.png"
    width="500"
    height="300"
  />
  <div class="content">
    <p class="poke-text" style="color: darkviolet">
      FIND MORE MEDIA: TV SHOWS, MOVIES, ETC.
    </p>
    <button routerLink="/tvShows">
      <span class="text" style="font-size: 2rem">TV Shows</span>
    </button>
  </div>
</div>

<!-- LOADING -->
<div #loading class="d-flex h-100 align-items-center justify-content-center">
  <mat-spinner diameter="50"></mat-spinner>
</div>
